<select data-placeholder="Categorize your idea" id="CategoryList" data-rel="chosen-select-deselect">
	<option value="" />
	#foreach ($mapEntry in $CategoryMap.entrySet())
	<optgroup label="$mapEntry.key">
		#foreach( $Category in $mapEntry.value )
		<option />$Category.getSubCategoryName()
		#end
	</optgroup>
	#end
</select>