
<!DOCTYPE html>
<html>
  <head>
    <title>iRI Innovation Portal</title>

    <meta name="description" content="Home Page" />
	<meta name="author" content="Suman Devan" />



    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="all" rel="stylesheet">
    <link href="../css/homecss/styles.css" media="all" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js"></script>


     <!-- start: Home Page CSS -->
  	<link rel="stylesheet" type="text/css" href="../../platform/css/jquery.pagepiling.css" />
    <link rel="stylesheet" type="text/css" href="../../platform/css/examples.css" /> 
	<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->
    <script src="../../platform/js/library/jQuery/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../../platform/js/library/jQuery/jquery.pagepiling.min.js"></script>
     <!-- end: CSS -->

      	<!-- start: Favicon -->
	<link rel="shortcut icon" href="../../platform/img/logo/iri_icon.png" />
	<!-- end: Favicon -->

      <!-- Script for the page piling-->
      	<script type="text/javascript">
      	    $(document).ready(function () {
      	        
      	        /*
                * Plugin intialization
                */
      	        $('#pagepiling').pagepiling({
      	            menu: '#menu',
      	            anchors: ['page1', 'innovationsubmission', 'ideas', 'page4'],
      	            sectionsColor: ['#F2F2F2', 'white', 'white', '#39C'],
      	            navigation: {
      	                'position': 'right',
      	                'tooltips': ['Page 1', 'Page 2', 'Page 3', 'Page 4']
      	            },
      	            afterRender: function () {
      	                $('#pp-nav').addClass('custom');
      	            },
      	            afterLoad: function (anchorLink, index) {
      	                if (index > 1) {
      	                    $('#pp-nav').removeClass('custom');
      	                } else {
      	                    $('#pp-nav').addClass('custom');
      	                }
      	            }
      	        });


      	        /*
                * Internal use of the demo website
                */
      	        $('#showExamples').click(function (e) {
      	            e.stopPropagation();
      	            e.preventDefault();
      	            $('#examplesList').toggle();
      	        });

      	        $('html').click(function () {
      	            $('#examplesList').hide();
      	        });
      	    });


    </script>



    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  </head>
  <body>


      <div id="pagepiling">

       <div class="section" id="section1">
       <a href="#innovationsubmission"><div class="icon lightbulb"></div></a>
       <a href="#ideas"><div class="icon bullseye"></div></a>
       <div class="icon search"></div>
       <div class="icon trophy"></div>
       <div class="icon cogs"></div>

	    </div>
	    <div class="section" id="section2">
               <object type="text/html" data="innovationsubmission.html" width="900px" height="800px" style="overflow:auto;"> </object>
	    </div>
	    <div class="section" id="section3">
             <object type="text/html" data="ideas.html" width="900px" height="800px" style="overflow:auto;"> </object>
	    	
	    </div>
	    <div class="section" id="section4">
	    	<div class="icon trophy"></div>
	    </div>
	</div>


<!--            <div class="icon bullseye"></div>
      <div class="icon lightbulb"  onclick="location.href='innovationsubmission.html'"></div>
      <div class="icon cogs"></div>
      <div class="icon chat"></div>
      <div class="icon phone"></div>
      <div class="icon search"></div>
      <div class="icon trophy"></div>
      <div class="icon love"></div>-->

    </div>
  </body>
</html>