
<!DOCTYPE html>
<html>
  <head>
    <title>Animated Icons 1</title>

    <meta name="description" content="Home Page" />
	<meta name="author" content="Suman Devan" />
	<!-- start: Favicon -->
	<link rel="shortcut icon" href="../../platform/img/logo/iri_icon.png" />
	<!-- end: Favicon -->
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="all" rel="stylesheet">
    <link href="../css/homecss/styles.css" media="all" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js"></script>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  </head>
  <body>
    <div class="container">
      <div class="icon lightbulb" onclick="location.href='InnovationSubmission.html'"></div>
      <div class="icon search" onclick="location.href='Ideas.html'"></div>
      <div class="icon trophy"></div>
      <div class="icon cogs"></div>
      <!-- <div class="icon chat"></div>
      <div class="icon phone"></div>
      <div class="icon bullseye"></div>
      <div class="icon love"></div>
      <div class="icon map"></div>
      <div class="icon piggybank"></div>-->
    </div>
  </body>
</html>