
<!DOCTYPE html>
<html>
<head>
<title>IRi Innovation Portal</title>

<meta name="description" content="Home Page" />
<meta name="author" content="Suman Devan" />

<!-- start: Home Page CSS -->
<link href="../css/homecss/styles.css" media="all" rel="stylesheet">
<link href="../../platform/js/library/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<!-- end: CSS -->

<!-- start: Favicon -->
<link rel="shortcut icon" href="../../platform/img/logo/iri_icon.png" />
<!-- end: Favicon -->

<meta
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
	name="viewport" />


</head>
<body>

	<div class="section" id="iconMenus">
		<div class="icon lightbulb"
			onclick="location.href='InnovationSubmission.html'"></div>
		<div class="icon bullseye" onclick="location.href='MyIdeas.html'"></div>
		<div class="icon search" onclick="location.href='AllIdeas.html'"></div>
		<div class="icon trophy"></div>
		<div class="icon cogs"></div>
		<div class="icon chat"></div>
		<div class="icon phone"></div>
		<div class="icon love"></div>
	</div>

	<!-- start: JavaScript-->

	<!-- start: PlatForm Scripts -->
	<script src="../../platform/js/library/jQuery/jquery-1.11.1.min.js"></script>
	<script src="../../platform/js/library/jQuery/jquery.cookie.js"></script>
	<!-- end: PlatForm Scripts -->

	<!-- start: App Scripts -->
	<!-- end: App Scripts -->

	<!-- end: JavaScript-->

</body>
</html>