<!DOCTYPE html>
<html lang="en">
<head>
	<!-- start: Meta -->
	<meta charset="utf-8" />
	<title>iRI Innovation Portal</title>
	<meta name="description" content="Page to Submit ideas." />
	<meta name="author" content="Varun Chandresekar" />
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link href="../../platform/css/bootstrap.css" id="bootstrap-style" rel="stylesheet" />
	<link href="../../platform/css/bootstrap-responsive.css" rel="stylesheet" />
	<link href="../../platform/css/style.css" id="base-style" rel="stylesheet" />
	<link href="../../platform/css/style-responsive.css" id="base-style-responsive" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css' />
	<!-- end: CSS -->
	
	<!-- start: Favicon -->
	<link rel="shortcut icon" href="./img/favicon.ico" />
	<!-- end: Favicon -->
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	
	<div class="row-fluid sortable">
		<div class="box span12">
			<div class="box-header" data-original-title="">
				<h2><i class="halflings-icon pencil"></i><span class="break"></span><b>Submit an Idea</b></h2>
				<div class="box-icon">
					<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
				</div>
			</div>
			<div class="box-content">
				<form class="form-horizontal" >
					<fieldset>
					  
					  <div class="control-group" >
						<label class="control-label" for="CategoryList">Category</label>
						<div class="controls" id="CategoryDropDown">
						</div>
					  </div>
					  
					   <div class="control-group" >
						<label class="control-label" for="TeamList">Team</label>
						<div class="controls" id="TeamDropDown">
						</div>
					  </div>
					 
					  <div class="control-group">
						<label class="control-label" for="focusedInput">Summary</label>
						<div class="controls">
						  <input class="input-xxlarge" id="focusedInput" type="text" value="" style="width:60%;"/>
						</div>
					  </div>

					  <div class="control-group">
						<label class="control-label" for="focusedInput">Description</label>
						 <div class="controls">
							<textarea style="width:60%;height:100px;"></textarea>
						 </div>
					  </div>

					  <div class="control-group">
						<label class="control-label" for="focusedInput">Benefits</label>
						 <div class="controls">
							<textarea style="width:60%;height:100px;"></textarea>
						 </div>
					  </div>

					  <div class="control-group">
						<label class="control-label" for="focusedInput">Challenges</label>
						 <div class="controls">
							<textarea style="width:60%;height:100px;"></textarea>
						 </div>
					  </div>

					  <div class="form-actions">
						<button type="submit" class="btn btn-primary">Save changes</button>
						<button class="btn">Cancel</button>
					  </div>
					</fieldset>
				</form>
			
			</div>
		</div><!--/span-->
	
	</div><!--/row-->
		
	<div class="clearfix"></div>
	

	<script src="../../platform/js/utility/restClient.js"></script>
	<script src="../../platform/js/library/jquery-1.7.2.min.js"></script>
	<script src="../../platform/js/library/jquery-ui-1.8.21.custom.min.js"></script>
	<script src="../../platform/js/library/modernizr.js"></script>
	<script src="../../platform/js/library/bootstrap.js"></script>
	<script src="../../platform/js/library/jquery.cookie.js"></script>
	<script src='../../platform/js/library/fullcalendar.min.js'></script>
	<script src='../../platform/js/library/jquery.dataTables.min.js'></script>
	<script src="../../platform/js/library/excanvas.js"></script>
	<script src="../../platform/js/library/jquery.flot.js"></script>
	<script src="../../platform/js/library/jquery.flot.pie.js"></script>
	<script src="../../platform/js/library/jquery.flot.stack.js"></script>
	<script src="../../platform/js/library/jquery.flot.resize.min.js"></script>
	<script src="../../platform/js/library/jquery.chosen.min.js"></script>
	<script src="../../platform/js/library/jquery.uniform.min.js"></script>
	<script src="../../platform/js/library/jquery.cleditor.min.js"></script>
	<script src="../../platform/js/library/jquery.noty.js"></script>
	<script src="../../platform/js/library/jquery.elfinder.min.js"></script>
	<script src="../../platform/js/library/jquery.raty.min.js"></script>
	<script src="../../platform/js/library/jquery.iphone.toggle.js"></script>
	<script src="../../platform/js/library/jquery.uploadify-3.1.min.js"></script>
	<script src="../../platform/js/library/jquery.gritter.min.js"></script>
	<script src="../../platform/js/library/jquery.imagesloaded.js"></script>
	<script src="../../platform/js/library/jquery.masonry.min.js"></script>
	<script src="../../platform/js/library/jquery.knob.modified.js"></script>
	<script src="../../platform/js/library/jquery.sparkline.min.js"></script>
	<script src="../../platform/js/library/counter.js"></script>
	<script src="../../platform/js/library/retina.js"></script>
	<script src="../../platform/js/library/custom.js"></script>
	<script src="../js/InnovationSubmission.js"></script>
	<!-- end: JavaScript-->
	
</body>
</html>
