<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
  <meta charset="utf-8" />
  <title>Login page</title>
	<meta name="description" content="Login Page." />
	<meta name="author" content="Suman Devan" />
	<!-- start: Favicon -->
	<link rel="shortcut icon" href="../../platform/img/logo/iri_icon.png" />
	<!-- end: Favicon -->
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link href="../assets/loginassets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/loginassets/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link href="../css/logincss/style.css" rel="stylesheet" />
  <link href="../css/logincss/style_responsive.css" rel="stylesheet" />
  <link href="../css/logincss/style_default.css" rel="stylesheet" id="style_color" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body id="login-body" background='../css/img/bg.png'>
  <!-- BEGIN LOGIN -->
  <div id="login">
    <!-- BEGIN LOGIN FORM -->
    <form id="loginform" class="form-vertical no-padding no-margin" action="home.html">
      <div class="lock">
          <i class="icon-lock"></i>
      </div>
      <div class="control-wrap">
          <h4>User Login</h4>
          <div class="control-group">
              <div class="controls">
                  <div class="input-prepend">
                      <span class="add-on"><i class="icon-user"></i></span><input id="input-username" type="text" placeholder="Username" />
                  </div>
              </div>
          </div>
          <div class="control-group">
              <div class="controls">
                  <div class="input-prepend">
                      <span class="add-on"><i class="icon-key"></i></span><input id="input-password" type="password" placeholder="Password" />
                  </div>
                  <div class="clearfix space5"></div>
              </div>

          </div>
      </div>

      <input type="submit" id="login-btn" class="btn btn-block login-btn" value="Login" />

    </form>
    <!-- END LOGIN FORM -->        
  </div>
  <!-- END LOGIN -->
  <!-- BEGIN COPYRIGHT -->
  <div id="login-copyright">
      2014 &copy; Innovation portal.
  </div>
  <!-- END COPYRIGHT -->
</body>
<!-- END BODY -->
</html>